@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.tariff-background {
    background-image: url('/asset/tariff-background-minimal.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-red {
  @apply px-3 py-2 text-sm font-medium text-white bg-red-500 rounded-md hover:bg-red-600;
}

.btn-green {
  @apply px-3 py-2 text-sm font-medium text-white bg-green-500 rounded-md hover:bg-green-600;
}

.btn-gray {
  @apply px-3 py-2 text-sm bg-gray-100 rounded-md hover:bg-gray-200;
}

.input-red {
  @apply w-32 px-3 py-2 text-sm border border-gray-300 rounded-md focus:ring-2 focus:ring-red-400;
}

.input-blue {
  @apply px-3 py-2 text-sm border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400;
}

.divider {
  @apply hidden md:block h-6 w-px bg-gray-300 mx-2;
}

